<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#data" data-toggle="tab">Datos Personales</a></li>
              <li class="nav-item"><a class="nav-link" href="#parents" data-toggle="tab">Padre o Tutor</a></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="data">
                <form autocomplete="off"
                      #formAlumno="ngForm" 
                      [formGroup]="alumnoForm" 
                      (ngSubmit)="crearAlumno()">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" formControlName="nombre" class="form-control" style="width: 100%;"
                          placeholder="Nombre completo">
                        <span class="form-text text-danger" 
                              *ngIf="campoNoValido('nombre')">El campo es obligatorio</span>  
                      </div>
                      <div class="form-group">
                        <label>CURP</label>
                        <input type="text" formControlName="curp" class="form-control" style="width: 100%;" 
                          placeholder="CURP">
                          <span class="form-text text-danger" 
                                *ngIf="campoNoValido('curp')">El campo es obligatorio</span> 
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" formControlName="fechaNacimiento" class="form-control" style="width: 100%;" 
                          placeholder="Fecha de Nacimiento">
                        <span class="form-text text-danger" 
                              *ngIf="campoNoValido('fechaNacimiento')">El campo es obligatorio</span> 
                      </div>
                      <div class="form-group">
                        <label>Grupo</label>
                        <select class="form-control" formControlName="grupo" style="width: 100%;">
                          <option value="">-- Seleccione una opción --</option>
                          <option *ngFor="let grupo of grupos"
                                  [value]="grupo">{{ grupo }}</option>
                        </select>
                        <span class="form-text text-danger" 
                              *ngIf="campoNoValido('grupo')">El campo es obligatorio</span> 
                      </div>
                     
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Grado</label>
                        <select class="form-control" formControlName="grado" style="width: 100%;">
                          <option value="">-- Seleccione una opción --</option>
                          <option *ngFor="let grado of grados"
                                  [value]="grado">{{ grado }}</option>
                        </select>
                        <span class="form-text text-danger" 
                              *ngIf="campoNoValido('grado')">El campo es obligatorio</span> 
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Genero</label>
                        <div class="form-group clearfix">
                          <div class="icheck-primary d-inline">
                            <input type="radio" 
                                   value="Femenino"
                                   id="radioMasculino" 
                                   formControlName="genero">
                            <label for="radioMasculino" style="margin-right: 10px;">
                              Femenino
                            </label>
                          </div>

                          <div class="icheck-primary d-inline">
                            <input type="radio"
                                   value="Masculino" 
                                   id="radioFemenino" 
                                   formControlName="genero">
                            <label for="radioFemenino">
                              Masculino
                            </label>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- timeline time label -->
                  <div class="row">
                    <div class="col-3">
                      <div class="input-group input-group-sm" style="width: 160px;">
                        <button type="submit" 
                                class="btn btn-block btn-info btn-flat"
                                [disabled]="alumnoForm.invalid">       
                          <i class="fas fa-save"></i> Guardar</button>
                    </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- end card body-->
          <div class="card-footer">
            <!-- Content here -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
