<div id="fondo-modal-imagen"
     [class.oculto]="modalImagenService.ocultarModal">
     
    <div class="modal fade show animate__animated animate__slideInDown" 
         tabindex="-1" 
         role="dialog"
         style="display: block;">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Actualizar imagen</h5>
                    <button type="button" 
                            class="close" 
                            data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Seleccione una imagen</h6>
                    <div class="card-body little-profile text-center">
                        <div class="row">
                            <div class="col-12">
                                <img class="modal-img" 
                                     *ngIf="!imgTemp" 
                                     [src]="modalImagenService.img" alt="user">
                                     
                                <img class="modal-img" 
                                     *ngIf="imgTemp" 
                                     [src]="imgTemp" alt="user">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="file" 
                               (change)="cambiarImagen($event.target.files[0])">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="cerrarModal()">Cancelar</button>

                    <button type="button" class="btn btn-primary"
                            (click)="subirImagen()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
