<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#data" data-toggle="tab">Datos Personales</a></li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="data">
                  <form autocomplete="off"
                        [formGroup]="profesorForm"
                        (ngSubmit)="crearProfesor()">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Nombre</label>
                          <input type="text" formControlName="nombre" class="form-control" style="width: 100%;"
                            placeholder="Nombre completo">
                            <span class="form-text text-danger" 
                                  *ngIf="campoNoValido('nombre')">El campo es obligatorio</span>  
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Fecha de Ingreso</label>
                          <input type="date" formControlName="fechaIngreso" class="form-control" style="width: 100%;"
                            placeholder="Fecha de Ingreso">
                          <span class="form-text text-danger" 
                                *ngIf="campoNoValido('fechaIngreso')">El campo es obligatorio</span>  
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Teléfono</label>
                          <input type="tel" formControlName="telefono" class="form-control" style="width: 100%;"
                            placeholder="Teléfono móvil o de casa">
                          <span class="form-text text-danger" 
                                *ngIf="campoNoValido('telefono')">El campo es obligatorio</span>  
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Correo electrónico</label>
                          <input type="email" formControlName="email" class="form-control" style="width: 100%;"
                            placeholder="Correo electrónico">
                          <span class="form-text text-danger" 
                                *ngIf="campoNoValido('email')">El campo es obligatorio</span>  
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <div class="input-group input-group-sm" style="width: 160px;">
                          <button type="submit" 
                                  class="btn btn-info btn-flat"
                                  [disabled]="profesorForm.invalid">
                          <i class="fas fa-save"></i> Guardar </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
